@media screen and (max-width: 1400px) {
  .simplify {
    left: 85rem;
  }
  .simplify2 {
    top: 100rem;
    left: -50rem;
  }
  .cta::before {
    top: -3rem;
    left: 0rem;
  }
  .cta::after {
    top: -66rem;
    left: 115rem;
  }
}

@media screen and (max-width: 1200px) {
  .home__content {
    margin-bottom: 6rem;
  }
  .home__title {
    font-size: 5rem;
  }
  .home__caption {
    padding-right: 18rem;
    font-size: 1.6rem;
  }
  .home__photo {
    margin-left: -10rem;
  }
  .home__img {
    width: 42rem;
  }
  .service__question {
    font-size: 3rem;
    width: 34rem;
  }
  .footer-items {
    width: 30rem;
  }
  .simplify {
    left: 55rem;
  }
  .simplify2 {
    top: 91rem;
    left: -54rem;
  }
  .cta::before {
    top: -3rem;
    left: -1rem;
  }
  .cta::after {
    top: -66rem;
    left: 95rem;
  }
}

@media only screen and (max-width: 992px) {
  .nav__button {
    display: none;
  }
  .home__wrapper {
    flex-direction: column-reverse;
  }
  .home__content {
    text-align: center;
  }
  .home__caption {
    padding: 0 9rem;
  }
  .home__link {
    align-self: auto;
  }
  .home__photo {
    margin: 0 auto;
  }
  .service {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .service__question {
    font-size: 5rem;
    width: 41rem;
    text-align: center;
  }
  .service__caption {
    text-align: center;
    padding-left: 4rem;
  }
  .service__pros {
    margin-top: 7rem;
    margin-left: 12rem;
  }
  .swiper-pagination {
    display: block;
    position: static !important;
    margin-top: 2rem;
    color: red;
  }
  .cta-wrapper__btn {
    width: 20rem;
  }
  .footer-items {
    display: none;
  }
  .footer-newsletter__form {
    margin-bottom: 7rem;
    width: 100%;
    height: 4rem;
  }
  .footer-newsletter__btn {
    padding-top: 0.8rem;
    padding-right: -0.5rem;
  }
  .simplify {
    top: -26rem;
    left: 21rem;
  }
  .simplify2 {
    top: 91rem;
    left: -54rem;
  }
  .cta::before {
    top: -3rem;
    left: -27rem;
  }
  .cta::after {
    top: -66rem;
    left: 85rem;
  }
  .footer-newsletter__modal {
    margin-top: -6rem;
    margin-right: 11rem;
  }
}
@media screen and (max-width: 820px) {
  .simplify {
    top: -35rem;
    left: 18rem;
  }
  .simplify2 {
    top: 91rem;
    left: -66rem;
  }
  .cta::before {
    content: "";
    background: url("/images/bg-simplify-section-mobile.svg");
    left: 0rem;
    top: 4.2rem;
    background-repeat: no-repeat;
    opacity: 100%;
  }
  .cta::after {
    display: none;
  }
  .simplify2 {
    top: 91rem;
    left: -66rem;
  }
  .cta::before {
    content: "";
    background: url("/images/bg-simplify-section-mobile.svg");
    left: 0rem;
    top: 4.2rem;
    background-repeat: no-repeat;
    opacity: 100%;
  }
  .cta::after {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    position: absolute;
    border-radius: 0.5rem;
    flex-direction: column;
    margin-top: 2rem;
    top: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-items: center;
    right: 0;
    left: 0;
    transition: all ease 0.3s;
    height: 0;
    overflow: hidden;
    background-color: #fff;
    z-index: 999;
  }
  .menu--open {
    height: 25rem;
  }
  .menu__item {
    margin-top: 2rem;
  }
  .menu__item:last-child {
    margin-bottom: 2rem;
  }
  .nav__toggle-icon {
    display: flex;
  }
  .cover {
    position: fixed;
    top: 8.5rem;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 10%);
    z-index: -1;
    opacity: 0;
  }
  .cover--show {
    opacity: 1;
    z-index: 99;
  }
  .home__title {
    font-size: 4rem;
  }
  .home__caption {
    padding: 0 8rem;
  }
  .home__photo {
    width: 51rem;
  }
  .cta-wrapper {
    flex-direction: column;
  }
  .cta-wrapper__title {
    text-align: center;
    max-width: 33rem;
  }
  .cta-wrapper__btn {
    width: auto;
    margin-bottom: 5rem;
  }
  .footer-items {
    display: flex;
    justify-content: space-evenly;
    width: 55rem;
    margin-left: 3rem;
  }
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-logo {
    flex-direction: column-reverse;

    display: none;
  }
  .footer-logo--mobile {
    display: flex;
    height: 10rem;
    margin: 3rem;
  }
  .footer-logo__socials {
    margin-left: 2rem;
  }
  .footer-logo__social {
    padding: 2rem;
  }
  .footer-newsletter__form {
    display: none;
  }
  .footer-newsletter__form--mobile {
    display: flex;
    justify-content: center;
  }
  .simplify {
    top: -26rem;
    left: 9rem;
  }
  .simplify2 {
    top: 91rem;
    left: -66rem;
  }
  .cta::before {
    content: "";
    background: url("/images/bg-simplify-section-mobile.svg");
    left: 0rem;
    top: -1.8rem;
    background-repeat: no-repeat;
    opacity: 100%;
  }
  .footer-newsletter__modal {
    display: none;
  }
  .footer-newsletter__modal--mobile {
    margin-top: -6rem;
    margin-right: 11rem;
    display: block;
  }
}

@media screen and (max-width: 576px) {
}
@media screen and (max-width: 556px) {
  .service__benefit {
    margin-right: 3rem;
  }
  .service__pros {
    margin-left: 15rem;
  }
  .service__title {
    font-size: 2rem;
  }
  .service__title::before {
    padding-top: 1rem;
    padding-left: 2.8rem;
  }
  .service__text {
    width: 39em;
    margin-left: -10rem;
  }
}
@media screen and (max-width: 542px) {
  .home__photo {
    width: 40rem;
  }
}
@media screen and (max-width: 445px) {
  .footer-items {
    width: 45rem;
  }
  .footer-logo__social {
    padding: 1.5rem;
  }
}
@media screen and (max-width: 442px) {
  .home__photo {
    width: 34rem;
  }
  .home__caption {
    width: 46rem;
    margin-right: 1rem;
  }
  .home__img {
    width: 36rem;
  }
}
@media screen and (max-width: 414px) {
  .service__description {
    margin-left: 1rem;
  }
  .service__question {
    font-size: 4rem;
    margin-right: 2rem;
  }
  .service__caption {
    padding-left: 4rem;
  }
  .service__pros {
    margin-left: 23rem;
  }
  .service__title {
    font-size: 1.5rem;
    margin-left: -6rem;
    background-color: hsl(13, 100%, 96%);
    height: 4rem;
    border-radius: 3rem;
    padding-top: 0.8rem;
    padding-left: 4rem;
    margin-bottom: 2rem;
  }
  .service__title::before {
    margin-top: 0.4rem;
    margin-right: 0.9rem;
    padding-top: 0.9rem;
    padding-left: 2.5rem;
    width: 7rem;
    height: 4rem;
    right: 89%;
    top: -0.4rem;
  }
  .service__text {
    width: 45rem;
    margin-left: -9rem;
    padding-right: 11rem;
    font-size: 1.4rem;
    margin-bottom: 0;
  }
  .comment__title {
    font-size: 3rem;
  }
  .simplify {
    display: none;
  }
  .simplify--mobile {
    display: block;
    position: absolute;
    top: -4rem;
    left: 6rem;
  }

  .simplify2 {
    display: none;
  }
  .simplify--mobile2 {
    display: block;
    position: absolute;
    top: 53rem;
    left: 26rem;
    z-index: -1;
  }
}
@media screen and (max-width: 395px) {
  .footer-items {
    width: 40rem;
    margin-right: 2rem;
  }
  .footer-logo--mobile {
    margin-right: 4rem;
  }
  .footer-logo__social {
    padding: 1.2rem;
  }
  .footer-newsletter__copyright {
    margin: 0 2rem;
    font-size: 1.4rem;
  }
  .simplify {
    display: none;
  }
  .simplify--mobile {
    display: block;
    position: absolute;
    top: -4rem;
    left: 6rem;
  }

  .simplify2 {
    display: none;
  }
  .simplify--mobile2 {
    display: block;
    position: absolute;
    top: 53rem;
    left: 26rem;
    z-index: -1;
  }
}
@media screen and (max-width: 320px) {
}
